@import "tailwindcss";

html, body {
    margin: 0;
    height: 100%;
}

:root {
    --gray-100: #e6e6e6;
    --gray-200: #c9c9c9;
    --pink-bg: #ffd2d8;

    --btn-clr: rgb(255, 0, 89);
    --light-text: #fff;
    --active-clr: orange;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

a, li, ul {
    text-decoration-style: none;
    text-decoration: none;
}

input {
    border: 2px solid #333;
}

.align-center {
    align-items: center;
    align-content: center;
}

.img501 {
    max-width: 501px;
}

.img120 {
    max-width: 120px;
}

/* NAV */
.navbar {
    /* color: var(--light-text); */
    padding-block: 1rem;
    list-style: none;
}

.container, .nav-links {
    display: flex;
    /* align-items: center; */
}

.container {
    padding-inline: 1rem;
    margin-inline: auto;
}

.navbar {   
    .container {
        justify-content: space-between;
        max-width: 800px;
    }
}

.nav-links {
    gap: 2rem;
    list-style: none;
}

a.active {
    color: var(--active-clr);
}

/* HOME */
.hero {
    background-color: var(--gray-100);
    gap: 4rem;
}

.btn {
    background-color: var(--btn-clr);
    color: var(--light-text);
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
}

.offers {
    background-color: var(--pink-bg);
}

/* CONTACT */
.contact-form {
    box-shadow: 10px 10px 10px 10px #333;
}

.invalid-input {
    color: firebrick;
}

/* FOOTER */
footer {
    background-color: #313131;
    padding-block: 2rem;
    color: gray;
}